#!/usr/bin/env bash

# Make Sublime the default editor.
export EDITOR='subl -a';

# Enable persistent REPL history for `node`.
export NODE_REPL_HISTORY=~/.node_history;
# Use sloppy mode by default, matching web browsers.
export NODE_REPL_MODE='sloppy';

# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Prefer CA English and use UTF-8.
export LANG='en_CA.UTF-8';
export LC_ALL='en_CA.UTF-8';

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Prompt
export PS1='\W ❯ '
